body {
  padding-top: 5px;
  width: 450px;
}

table {
  font-size: 12px;
}

.table thead th {
  color: #fff;
  background-color: #0073b1;
}

.stats {
  text-align: center;
  padding-bottom: 10px;
}

/* Bootstrap overrides */

.btn, .btn-primary {
  color: #fff !important;
  cursor: pointer;
}

.text-danger {
  color: #d32f2f !important;
}

.text-success {
  color: #43a047 !important;
}
