body {
  padding-top: 5px;
  width: 400px;
}

table {
  font-size: 12px;
}

.table thead th {
  color: #fff;
  background-color: #0073b1;
}

.stats {
  text-align: center;
  padding-bottom: 10px;
}

.btn {
  cursor: pointer;
}
